* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.margin {
    text-align: center;
    border-style: dashed;
    border-color: rgb(237, 16, 163);
    padding: 0 50px 20px 50px;
    height: 700px;
}

.border {
    border-style: solid;
    border-color: rgb(237, 16, 163);
    background: rgb(237, 16, 163);
    padding: 0 20px 20px 20px;
    height: 650px;
}

.padding {
    background: #fff;
    padding: 30px 60px ;
    height: 610px;
}


.content {
    border-color: rgb(237, 16, 163);
    border-style: dashed;
    padding: 20px 50px 60px;
    height: 490px;
   
}