* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(17, 181, 202);
    color: white;
}

.nav {
   
    height: 500px;
    background-color: white;
    display: inline-block;
    width: 25%;
    margin: 0;
}
.home {
    background-color: white;
    width: 74%;
    
    display: inline-block;
}
.footer {
    background-color: gray;
    height: 100vh;
}
